.reset{
  display: inline-block;
}
.picker{
  float:left;
  position:relative;
  top:0;
}
.rslts{
  left:30em;
  position:absolute;
  top:0.5em;
}
.ExLink{
  float:left;
  clear:left;
  position:relative;
}
.ExBox{
  float:left;
  clear:left;
  position:relative;
  padding-bottom:2em;
}