.reset{
  display: inline-block;
}
.picker{
  float:left;
  position:relative;
  top:0;
}
.rslts{
  float:right;
  position:relative;
  top:0;
}
.ExLink{
  float:left;
  clear:left;
  position:relative;
}
.ExBox{
  float:left;
  clear:left;
  position:relative;
}